:global {
  body[data-theme='light'] {
    --search-bg: var(--white);
    --search-color: var(--gray-300);
    --search-placeholder-color: var(--gray-200);
    --search-shadow: var(--shadow);
  }

  body[data-theme='dark'] {
    --search-bg: var(--gray-400);
    --search-color: var(--white);
    --search-placeholder-color: var(--white);
    --search-shadow: unset;
  }
}

.search {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 10px 10px 10px 16px;
  background-color: var(--search-bg, white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--search-shadow);
  border-radius: 15px;

  @media (min-width: 767px) {
    padding: 10px 10px 10px 30px;
  }

  & > button {
    flex-shrink: 0;
  }

  @media (max-width: 767px) {
    padding: 8px 8px;
  }
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;

  @media (max-width: 767px) {
    svg {
      transform: scale(0.7);
    }
  }
}

.textField {
  padding: 0 10px;
  flex-grow: 5;
  height: 60px;
  max-width: calc(100% - 100px - 20px);
  border: none;
  color: var(--search-color);
  font-size: 0.75rem;
  line-height: 1.5;
  cursor: pointer;
  background-color: var(--search-bg);

  &::placeholder {
    color: var(--search-placeholder-color);
  }

  &:focus {
    outline: none;
  }

  @media (min-width: 767px) {
    margin: 0 20px;
    font-size: 1.25rem;
  }

  @media (max-width: 767px) {
    height: 20px;
  }
}

.closeButton {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  fill: var(--switcher-color);
  cursor: pointer;
}
